body{
    background-color:rgb(25,25,25);
    /* you can define colour using red, green and blue - like photoshop*/
    color: white;
    /* (almost) every element inside the body will inherit this text color, so you don't have to style every element separately */

    /* to change the font, use font-family - this is also an inherited property */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* to target an id on the page, use # */
#container{
    /* to centre your site on the page, use margin */
    /* margin is the space around an element (pushing it away from other elements) */
    /* if you automatically apply an equal amount of space on both sides of an element,
    it will centre the element */
    margin: 0 auto;
    width: 800px;
}

/* the CSS box model goes:
margin: space between element
border: 
padding: space between content and the edge of the page
*/
h3{
    background-color: rgb (green);
    /* when adding a border, you need three rules:
    colour
    size
    type (ie. solid, dashed, dotted, etc.)
    */
    border: black 5px dotted;

     /*with padding, if you only give it one value, it applies 
     the same amount of space on both sides */
     padding: 15px;

     /* with margin and padding, two values means applying to 
     top-bottom (first-value), left-right (second value) */
     margin: 10px 0;
}

/* since links have a default style in the browser, we need 
to style them directly to override this*/
a{
    color: rgb(169, 232, 255);
}

a{
    color: aqua;
    /* to remove the underline... */
    text-decoration: none;
}

/* to change the link in different "states", use pseudo-classes
 - like with the hover state */
a:hover{
    color: aquamarine;
}

/* change the link when the user clicks (important for mobile) */
a:active{
    color: rgb(192, 37, 176);
}
/* there is also a visited state, if the user has been to the 
page before... but that one isn't used often*/

footer {
    /* sometimes you do just want space on one side of an element...*/
    padding-left: 20px;
}

/* using space means go inside the first element to look for the
 second... this example targets only p elements inside the footer */

p{
    font-size: 12px;
}

/* sometimes you want to style multiple elements the same way, 
but can't target them based on tag name - for this, you can use 
class to target a class, use a . before the name */
.larger{
    font-size: 24px;
}